
<body>
    <div  class="page-background">
        <pm-toolbar></pm-toolbar>
        <div class="content">
            <div class="titleContainer">
                <div class="titleDiv">Pi's Ultimate Game</div>
            </div>
            <div class="content-main">
                <div class="welcomeScreen">
                    <div class="welcomeTitle">
                        Welcome to Rock, Paper And Scissors
                    </div>
                    <div class="welcomeMsg">
                        <div class="terminal">
                            <span class="type" style="--n:4000">
                              The life of Pi. <br/>
                              Are you ready to play like Pi? <br/>
                              Of all his activities, Pi spent most his time on this one. He found in it, a sense of being. <br />
                              He learned that sometimes in life you will be crushed, but what matters the most is standing back up and learning from past failures. <br/>
                              Loosing a battle or even a few battles does not mean losing the WAR!! <br/><br/>
                              We wish you all the best, warrior! <br />
                              </span>
                        </div>
                    </div>
                    <div class="goToRules">
                        <button class="goToRulesBtn">Click Here To Read The Rules</button>
                    </div>
                </div>
                <div class="ruleScreen">
                    <div class="welcomeTitle">
                        Welcome to Rock, Paper And Scissors
                    </div>
                    <div class="ruleMsg">
                        <div class="terminalRules">
                            <span class="typeRules" style="--n:4000">
                              Official Game Rules <br/>
                              You will have 3 options to play the game.<br/><br/>
                              Option 1: Rock <br/>
                              ++: Rock crushes Scissors <br/>
                              -- : Rock is covered by Paper <br/><br/>
                              Option 2: Paper <br/>
                              ++: Paper covers Rock <br/>
                              -- : Paper is cut by Scissors <br/><br/>
                              Option 3: Scissors <br/>
                              ++: Scissors cut Paper <br/>
                              -- : Scissors are crushed by Rock <br/><br/>
                              Choose wisely...
                              </span>
                        </div>
                    </div>
                    <div class="clickToStart">
                        <button class="clickToStartBtn">Start The Game</button>
                    </div>
                </div>
                <div class="additionalRuleScreen">
                    
                    <div class="addRuleMsg">
                        <div class="addTerminalRules">
                            <span class="addTypeRules" style="--n:4000">
                              Surprise!!! <br/>
                              I didn't tell you this fact about Pi, he's the biggest jokster there is! <br/>
                              He modeled this game after his favorite tv character, Sheldon Cooper.
                              He believes you would get familiar with the game, so he decided to add a twist <br />
                              You have two new options: Lizard and Spock! The stakes are now high!! <br/>
                              You will have 3 options to play the game.<br/><br/>
                              Option 1: Rock <br/>
                              ++: Rock crushes Scissors and Lizard <br/>
                              -- : Rock is covered by Paper and vaporized by Spock <br/><br/>
                              Option 2: Paper <br/>
                              ++: Paper covers Rock and disproves Spock <br/>
                              -- : Paper is cut by Scissors and eaten by Lizard <br/><br/>
                              Option 3: Scissors <br/>
                              ++: Scissors cut Paper and decapitates Lizard<br/>
                              -- : Scissors are crushed by Rock and smashed by Spock <br/><br/>
                              Option 4: Lizard <br/>
                              ++: Lizard poisons Spock and eats Paper <br/>
                              -- : Lizard is crushed by Rock and decapitated by Scissors <br /> <br/>
                              Option 5: Spock <br/>
                              ++: Spock smashes Scissors and vaporizes Rock <br/>
                              --  : Spock is poisoned by Lizard and disproved by Paper <br /> <br/>
                              Choose wisely...
                              </span>
                        </div>
                    </div>
                    <div class="clickToContinue">
                        <button class="clickToContinueBtn">Start The Game</button>
                    </div>
                </div>
                <div class="levelOneScreen">
                    <div class="leftPanel">
                        <div class="leftTop">
                            Hint
                        </div>
                        <div class="leftBottom">
                            Solution
                        </div>
                    </div>
                    <div class="mainPanel">
                        <div class="mainTop">
                            <div class="mainSec">
                                <div class="aiPlay">
                                    Ai played: 
                                </div>
                            </div>
                            <div class="mainThird">
                                <div class="yourPlay">
                                    You played:
                                </div>
                            </div>
                            <div class="mainFourth">
                                <div class="playResult">
                                    Result:
                                </div>
                            </div>
                        </div>
                        
                        <div class="mainBottom">
                            <button class="playerOption rock">
                                Rock
                            </button>
                            <button class="playerOption paper">
                                Paper
                            </button>
                            <button class="playerOption scissors">
                                Scissors
                            </button>
                        </div>
                    </div>
                    <div class="rightPanel">
                        <div class="rightTop">
                            <div>Score board (The first to 3 wins)</div>
                            <div>
                                <ul>
                                    <li>You have: </li>
                                    <li>AI has: </li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="rightBottom">
                            Fun facts
                        </div>
                    </div>
                </div>
                <div class="levelTwoScreen">
                    <div class="leftPanel">
                        <div class="leftTop">
                            Hint
                        </div>
                        <div class="leftBottom">
                            Solution
                        </div>
                    </div>
                    <div class="mainPanel">
                        <div class="mainTop">
                            <div class="mainSec">
                                <div class="aiPlay">
                                    Ai played: 
                                </div>
                            </div>
                            <div class="mainThird">
                                <div class="yourPlay">
                                    You played:
                                </div>
                            </div>
                            <div class="mainFourth">
                                <div class="playResult">
                                    Result:
                                </div>
                            </div>
                        </div>
                        
                        <div class="mainBottom">
                            <button class="playerOption rock">
                                Rock
                            </button>
                            <button class="playerOption paper">
                                Paper
                            </button>
                            <button class="playerOption scissors">
                                Scissors
                            </button>
                        </div>
                    </div>
                    <div class="rightPanel">
                        <div class="rightTop">
                            <div>Score board (The first to 3 wins)</div>
                            <div>
                                <ul>
                                    <li>You have: </li>
                                    <li>AI has: </li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="rightBottom">
                            Fun facts
                        </div>
                    </div>
                </div>
                <div class="finalScreen">
                    <div class="leftPanelF">
                        <div class="leftTopF">
                            Hint
                        </div>
                        <div class="leftBottomF">
                            Solution
                        </div>
                    </div>
                    <div class="mainPanelF">
                        <div class="mainTopF">
                            <div class="mainSecF">
                                <div class="aiPlayF">
                                    Ai played: 
                                </div>
                            </div>
                            <div class="mainThirdF">
                                <div class="yourPlayF">
                                    You played:
                                </div>
                            </div>
                            <div class="mainFourthF">
                                <div class="playResultF">
                                    Result:
                                </div>
                            </div>
                        </div>
                        
                        <div class="mainBottomF">
                            <button class="playerOptionF rockF">
                                Rock
                            </button>
                            <button class="playerOptionF paperF">
                                Paper
                            </button>
                            <button class="playerOptionF scissorsF">
                                Scissors
                            </button>
                            
                        </div>
                    </div>
                    <div class="rightPanelF">
                        <div class="rightTopF">
                            <div>Score board (The first to 3 wins)</div>
                            <div>
                                <ul>
                                    <li>You have: </li>
                                    <li>AI has: </li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="rightBottomF">
                            Fun facts
                        </div>
                    </div>
                </div>
                <div class="endScreen">
                    <div class="endTitle">
                        Thanks for playing!
                    </div>
                    <div class="endMsg">
                       You lost
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
