html, body {
  line-height: inherit;
  margin: 0px;
  padding: 0;
  background-image: url('src/assets/images/gameBg.gif');
  width: 100vw;
  overflow-x: hidden;
  background-size:  cover; /* Add this line to adjust the background size */

    left: 0;
    right: 0;
    
    display: flex;
    height: 1000px;
    position: absolute;
    justify-content: center;
}

.yypage-background {
    margin-top : 60px;
    border : 1px solid red;
    background-image: url('src/assets/images/gameBg.gif');
    width: 100vw;
    margin-left: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    /* Adjust other background properties as needed */
  }

  .page-background {
    margin-top : 60px;
    border : 1px solid red;
    width: 1300px;
    height: 800px;
    /* Adjust other background properties as needed */
  }

  .content {
    margin: 20px;
    border: 1px solid green;
    height: 700px;
    padding: 10px;
  }