<pm-toolbar></pm-toolbar>
<div class="body">
    <div class="content">
        <div class="column-one">
            <div class="input-section">
                <input type="text" class="form-control entry-field-style" name="location" placeholder="Enter a zipcode" 
                        id="location"/>
                <button class="btn btn-primary button" type="button">Search</button>
            </div>
            <div class="today-main">
                <div class="today-wrapper">
                    <img [src]="todayMainImg" style="width: 250px; height: 250px;" alt="today-img" class="today-main-img">
                    <div class="temparatureMain">
                        Temperature
                    </div>
                    <div class="day-time">
                        day and time
                    </div>
                    <div class="today-other">
                        mostly cloudy
                    </div>
                    <div class="today-other">
                        mostly cloudy
                    </div>
                    <div class="cityImg">
                        <img [src]="todayMainImg" style="width: 50px; height: 50px;" alt="city-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="column-two">
            <div class="week-prevision">
                <div class="day-prevision">
                    <div class="dayname">
                        tomorrow
                    </div>
                    <img [src]="todayMainImg" style="width: 100px; height: 100px;" alt="wkTempImg">
                    <div class="week-temp">
                        week-temp
                    </div>
                </div>
                <div class="day-prevision">
                    <div class="dayname">
                        dayafter
                    </div>
                    <img [src]="todayMainImg" style="width: 100px; height: 100px;" alt="wkTempImg">
                    <div class="week-temp">
                        week-temp
                    </div>
                </div>
                <div class="day-prevision">
                    <div class="dayname">
                        nextday
                    </div>
                    <img [src]="todayMainImg" style="width: 100px; height: 100px;" alt="wkTempImg">
                    <div class="week-temp">
                        week-temp
                    </div>
                </div>
                <div class="day-prevision">
                    <div class="dayname">
                        lastday
                    </div>
                    <img [src]="todayMainImg" style="width: 100px; height: 100px;" alt="wkTempImg">
                    <div class="week-temp">
                        week-temp
                    </div>
                </div>
            </div>
            <label class="highlightLabel" style="margin-top: 30px;">Today's Highlight</label>
            <div class="highlightBox">
                <div class="highlightRow">
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                </div>
                <div class="highlightRow">
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>