<pm-toolbar></pm-toolbar>
<div class="body">
    <div class="content">
        <div class="column-one">
            <div class="input-section">
                <input type="text" class="form-control entry-field-style" name="location" placeholder="Enter a zipcode or city" 
                        id="location"/>
                <button class="btn btn-primary button" type="button">Search</button>
            </div>
            <div class="today-main">
                <div class="today-wrapper">
                    <img [src]="todayMainImg" style="width: 250px; height: 250px;" alt="today-img" class="today-main-img">
                    <div class="temparatureMain">
                        {{todayTemp}}
                    </div>
                    <div class="day-time">
                        {{todayDay}}, {{todayDate}}
                    </div>
                    <div class="today-other">
                        {{todaySituation}}
                    </div>
                    <div class="today-other">
                        {{todaySituationTwo}}
                    </div>
                    <div class="cityImg">
                        <img [src]="cityPic" style="width: 50px; height: 50px;" alt="city-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="column-two">
            <div class="week-prevision">
                <div class="day-prevision">
                    <div class="dayname">
                        {{tomrwName}}
                    </div>
                    <img [src]="tomrwIcon" style="width: 100px; height: 100px;" alt="wkTempImg">
                    <div class="week-temp">
                        {{tomrwTemp}}
                    </div>
                </div>
                <div class="day-prevision">
                    <div class="dayname">
                        {{thirdDayName}}
                    </div>
                    <img [src]="thirdDayIcon" style="width: 100px; height: 100px;" alt="wkTempImg">
                    <div class="week-temp">
                        {{thirdDayTemp}}
                    </div>
                </div>
                <div class="day-prevision">
                    <div class="dayname">
                        {{fourthDayName}}
                    </div>
                    <img [src]="fourthDayIcon" style="width: 100px; height: 100px;" alt="wkTempImg">
                    <div class="week-temp">
                        {{fourthDayTemp}}
                    </div>
                </div>
                <div class="day-prevision">
                    <div class="dayname">
                        {{fifthDayName}}
                    </div>
                    <img [src]="fifthDayIcon" style="width: 100px; height: 100px;" alt="wkTempImg">
                    <div class="week-temp">
                        {{fifthDayTemp}}
                    </div>
                </div>
            </div>
            <label class="highlightLabel" style="margin-top: 30px;">Today's Highlight</label>
            <div class="highlightBox">
                <div class="highlightRow">
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                </div>
                <div class="highlightRow">
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                    <div class="highlightDivs">
                        <label class="highlightDivTitle">Title</label>
                        <div class="highlightDivFact">fact</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>