.body {
    position: fixed;
    background-color: #D3D3D3;
    left: 0;
    top: 60px;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
}
.content {
    width: 1300px;
    height: 650px;
    overflow: hidden;
    margin: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.column-one {
    width: 35%;
    float: left;
    border: 1px solid green;
    height: 100%;
    padding: 10px;
}
.column-two {
    width: 65%;
    float: left;
    border: 1px solid red;
    height: 100%;
}
.input-section {
    display: flex;
    align-items: center;
}
.entry-field-style {
    flex: 1;
    padding: 5px;
}
.button {
    margin-left: -5px;
}

/*
<input type="text" class="form-control entry-field-style" name="location" placeholder="Enter a zipcode" 
                                [(ngModel)]="location"  id="location"/>
*/