/* You can add global styles to this file, and also import other style files *//*
body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/844/833/non_2x/concept-of-human-people-resource-management-and-recruitment-business-social-network-connection-group-society-communication-wooden-people-with-structure-on-white-background-3d-illustration-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/