<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<pm-toolbar></pm-toolbar>
  <div class="for-background">
    <div class="content" role="main">
  
      <!-- Welcome animation -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate-charcter"> Welcome to our multipurpose app</h3>
          </div>
        </div>
      </div>
  
      <!-- Terminal -->
      <div class="terminal">
        <span class="type" style="--n:2000">
          The life of Pi. <br/>
          Pi was a very interesting philosopher. One of a kind! No other boy perceived life as he did. <br/>
          He only believed in two things: Eating and Playing....well, he is probably right. <br />
          To find out if his philosophy is as rock solid as he claimed, the genius lab decided to similate <br/>
          his daily routine.
          Explore the navigation bar to grocery shop and play Pi's favorite game. <br />
          ....... do not forget to tip the cashier...it's kind of the rule here. <br />
          Check out the weather, too. You wouldn't want your grocery to get wet...<br /><br />
          Get immersed..........................
          </span>
      </div>
  
      <!-- Footer -->
      <footer>
          <a href="https://github.com/rueilmanzambi/appDemo" target="_blank" rel="noopener">
            <div class="github-star-badge">
              GitHub
            </div>
          </a>
          
      </footer>
  
    </div>
  </div>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  