<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Angular App</span>
      <div class="spacer"></div>
      <a href="#" title="Tip Calculator">
        Tip Calculator
      </a>
      <a href="#" title="Grocery List">
        Grocery List
      </a>
      <a href="#" title="Rock Paper Scissors">
        Rock Paper Scissors
      </a>
      <a href="#" title="Weather Dashboard">
        Weather Dashboard
      </a>
  </div>
  <div class="for-background">
    <div class="content" role="main">
  
      <!-- Welcome animation -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate-charcter"> Welcome to our multipurpose app</h3>
          </div>
        </div>
      </div>
  
      <!-- Terminal -->
      <div class="terminal">
        <span class="type" style="--n:2000">
          The life of Pi. <br/>
          Pi was a very interesting philosopher. One of a kind! No other boy perceived life as he did. <br/>
          He only believed in two things: Eating and Playing....well, he is probably right. <br />
          To find out if his philosophy is as rock solid as he claimed, the genius lab decided to similate <br/>
          his daily routine.
          Explore the navigation bar to grocery shop and play Pi's favorite game. <br />
          ....... do not forget to tip the cashier...it's kind of the rule here. <br />
          Check out the weather, too. You wouldn't want your grocery to get wet...<br /><br />
          Get immersed..........................
          </span>
      </div>
  
      <!-- Footer -->
      <footer>
          <a href="https://github.com/rueilmanzambi/appDemo" target="_blank" rel="noopener">
            <div class="github-star-badge">
              GitHub
            </div>
          </a>
          
      </footer>
  
    </div>
  </div>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  